.jug {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh;
    text-align: center;
}

@media ( max-width: 768px ) {
    .jug {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 80vh;
        margin: 0;
        flex-direction: column;
    }
    h1 {
        text-align: center;
        margin: 0;
    }
}
