{%  extends 'core/base.html'  %}
{%  load static  %}
{%  block title  %}Forget Password{%  endblock  %}
{%  block content  %}


{%  if messages %}
    {% for message in messages   %}
        {% if message.tags == 'error'  %}
            <p>{{message}}</p>
        {% else  %}
            <p>{{message}}</p>
        {%  endif  %}
    {% endfor   %}
{%  endif  %}

<div class = "field">
    <form method = "POST" class = "game">
        {% csrf_token  %}
        <h1>Forget Password</h1>
        <div>
            <label class = "cricket">Email</label>
            <input type = "email" name = "email" placeholder = "Email" class = "football">
        </div>
        <button type = "submit" class = "basketball">Forget Password</button>
    </form>
</div>



{%  endblock   %}