{%  extends 'core/base.html'  %}
{%  load static %}
{%  load socialaccount %}
{%  block title %}Signup Page{% endblock  %}
{%  block content %}


{%  if messages %}
    {%  for message in messages %}
        {%  if message.tags == 'error'  %}
            <p>{{message}}</p>
        {%  else %}
            <p>{{message}}</p>
        {%  endif  %}
    {%  endfor %}
{%  endif  %}

<div class = "egg">
    <form method = "POST" class = "rice">
        {%  csrf_token %}
        <h1>Signup Page</h1>
        <div>
            <label class = "hilsa">First Name</label>
            <input type = "text" name = "first_name" placeholder = "First Name" class = "rohita">
        </div>
        <div>
            <label class = "hilsa">Last Name</label>
            <input type = "text" name = "last_name" placeholder = "Last Name" class = "rohita">
        </div>
        <div>
            <label class = "hilsa">Username</label>
            <input type = "text" name = "username" placeholder = "Username" class = "rohita">
        </div>
        <div>
            <label class = "hilsa">Email</label>
            <input type = "email" name = "email" placeholder = "Email" class = "rohita">
        </div>
        <div>
            <label class = "hilsa">Password</label>
            <input type = "password" name = "password" placeholder = "Password" class = "rohita">
        </div>
        <button type = "submit" class = "lobeo">Signup</button>

        <div>
            <div class = "chicken">
                <img src = "{% static 'authenticate/image/google_icon.jpg'  %}" alt = "Google Icon" class = "icon">
                <a href = "{%  provider_login_url 'google'  %}" class = "lentils">Sign With Google</a>
            </div>
            <div class = "chicken">
                <img src = "{% static 'authenticate/image/github.png'  %}" alt = "GitHub Icon" class = "icon">
                <a href = "{%  provider_login_url 'github' %}" class = "lentils">Sign With Github</a>
            </div>
            <div class = "chicken">
                <img src = "{% static 'authenticate/image/x_twitter_icon.png'  %}" alt = "X Twitter Icon" class = "icon">
                <a href = "{%  provider_login_url 'twitter_oauth2' %}" class = "lentils">Sign With Twitter</a>
            </div>
                {% if linkedin_oauth2  %}
                    <a href = "{%  provider_login_url 'linkedin_oauth2' %}">Sign with LinkedIn</a>
                {%  endif %}
            <div class = "chicken">
                <img src = "{% static 'authenticate/image/facebook_icon.png'  %}" alt = "Facebook Icon" class = "icon">
                <a href = "{%  provider_login_url 'facebook' %}" class = "lentils">Sign With Facebook</a>
            </div>
        </div>
    </form>
</div>


{%  endblock  %}