{% load static  %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel = "stylesheet" href = "{% static 'core/css/style.css'  %}">
    <link rel = "stylesheet" href = "{%  static 'authenticate/css/signup.css' %}">
    <link rel = "stylesheet" href = "{%  static 'authenticate/css/login.css'  %}">
    <link rel = "stylesheet" href = "{%  static 'authenticate/css/forget_password.css' %}">
    <link rel = "stylesheet" href = "{%  static 'authenticate/css/forget_password_sent.css' %}">
    <link rel = "stylesheet" href = "{%  static 'authenticate/css/reset_password.css' %}">
    <link rel = "stylesheet" href = "{%  static 'poll/detail.css' %}">
    <link rel = "stylesheet" href = "{%  static 'poll/result.css' %}">
    <title>{% block title  %}{%  endblock %}</title>
</head>
<body>
    {%  include 'core/partials/header.html' %}
    <main>
        {% block content %}
        {%  endblock %}
    </main>
    {% include 'core/partials/footer.html'  %}
</body>
{%  block script %}
{%  endblock %}
</html>